
  <div class="container-fluid">
  <div class="row">
  <div class="col-sm-8"">
  <div id="slides_control">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides track by $index" active="slide.active" index="$index">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <h4>Slide {{$index+1}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
   
   
   </div>
   <div class="col-sm-4" >
   <h1>Travel Wizard</h1>
      <p>
       Largest travel site in the world, with more than 315 million members and over 500 million reviews and opinions of hotels, restaurants, attractions and other travel-related businesses. TripAdvisor Media Group operates 25 travel brands including TripAdvisor, Airfarewatchdog, BookingBuddy, Citymaps, Cruise Critic, Family Vacation Critic, FlipKey, GateGuru,[6] Holiday Lettings, Holiday Watchdog, Independent Traveler, Jetsetter, lafourchette, Niumba, OneTime, SeatGuru, SmarterTravel, Tingo, TravelPod, Tripbod, VacationHomeRentals, Viator, and VirtualTourist.[1] TripAdvisor operates websites internationally, in such places as Austria, Australia, Brazil, Canada, China (under the brand , Denmark, France, Germany, Greece, India, Indonesia, Ireland, Italy, Japan, Mexico, Singapore, Spain, Sweden, Thailand, Turkey, the U.K., and the U.S.
      </p>
      
      
    </div>
   
   
     </div>
 </div>